
<div class="container"> 
<div class="row mt-1">
    <div class="col-lg-6 col-sm-12">
    <span class="animate__animated animate__bounce span1 ">ABOUT US</span>
     <p class="hmt-p1">We would like to introduce our company BANSAL HANDICRAFTS established in 1998. 
      Since then we were into Handicraft exports of Beads till 2015, then we have start to develop market in India to 
      sale our Unique export quality collection through Ecommerce and in 2018, we add new line of business by establishment 
      of our own manufacturing unit of Semiprecious stone Slabs and article.</p>

      <p class="hmt-p1">We make Agate & Semi precious stone slabs for dining table, coffee table, side table, kitchen counter, 
      bathroom counter, wall panel and many more.</p>
    </div>
    <div class="col-lg-6 col-sm-12">
      <img src="/assets/img/about.jpeg" alt="Welcome To Bansal Handicrafts" width="100%">
    </div>
    
</div>

<div class="row mt-1">
  <div class="col-lg-6 col-sm-12">
    <img src="/assets/img/mission.jpg" alt="Welcome To Bansal Handicrafts" width="100%">
  </div>
  <div class="col-lg-6 col-sm-12">
  <span class="animate__animated animate__bounce span1 ">Mission</span>
   <p class="hmt-p1">The prime focus of our company is to deliver best quality of Semi precious stone slabs to our clients within expected time frame and we can ensure you that because everything from cutting to polishing is done in-house factory under a proper supervision. We are proficient to deliver Semiprecious Stone Slabs and its articles as per client’s 
    requirement like Size, thickness, colour combination, edges.</p>
  </div>
 
  
</div>

</div>


