<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">Bansal Handicrafts<span></span></h5>
                        <p>We are the manufacturer of Agate & Semiprecious Stone Slabs and its Articles based in Delhi, India. 
                            We can make slabs for many products like dining table, coffee table, side table, kitchen counter, bathroom counter, 
                            wall panel and many more.</p>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Quick Links<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"><a href="#.">&nbsp;Home</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#.">&nbsp;About</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#.">&nbsp;Contact</a></div>
                            </li>
                            
                        </ul>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Follow up<span></span></h5>
                        <a href="#" class="mx-1"> <i class="fa fa-facebook"> </i> </a>
                        <a href="#"  class="mx-1"> <i class="fa fa-instagram"> </i> </a>
                        <a href="#"  class="mx-1"> <i class="fa fa-youtube"> </i> </a>
                    </div>
                </div>
                <br>
                <br>


                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">                        
                            <h6><b> Contact us:</b></h6>
                            <p><b>Devendar Bansal (Office):</b>+91 9810190287</p>
                            <p><b>Aman Bansal:</b>+91 8700806736</p>
                            <p><b>Email at:</b> devendarbansal@gmail.com, bansalhandicrafts11@gmail.com</p>
                            <small> <b><i>We provide 24/7 assistance</i></b></small>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright BansalHandicrafts © 2021. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>